@model PageSage.Areas.Identity.Data.UserBook;

@{
	ViewData["Title"] = "Review";
}

<h2>Add Review</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReview" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserBookId" />
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puan" class="control-label"></label>
                <input asp-for="Puan" class="form-control" />
                <span asp-validation-for="Puan" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Review" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="FinishedBook" asp-action="Index">Back to List</a>
</div>
